.movie__details-page {
  background-color: #333333;
  color: #ffffff;
}

.movie__content {
  transform: translateY(-500px);
}

.banner {
  position: relative;
  img {
    max-width: 100%;
  }
  .filter {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    left: 0;
    top: 0;
  }
}
.tabs-btn {
  color: #ffffff;
}

.MuiButton-containedSecondary {
  margin-right: 15px;
}
